* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 62.5%;
}

body {
    font-family: "Open-sans", sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, #01CCDA, #016d7e);
}

li,
a {
    text-decoration: none;
    list-style: none;
}

/* GLOBAL CLASSES */

.capital-text {
    text-transform: capitalize;
}

.italic-text {
    font-style: italic;
}

.green-text {
    color: #13da13;
}

.site-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: whitesmoke;
    background:  #1058df;
    border: 3px solid #1058df;
    cursor: pointer;
}

.site-btn:hover {
    background: whitesmoke;
    color: #1058df;
}

/* HEADER */

.nav {
    background: whitesmoke;
    margin-top: 0;
    text-align: right;
    min-height: 10vh;
}

.logo {
    margin-top: 10px;
    height: 70px;
    width: 70px;
    float: left;
}

.logo-text {
    margin-top: 30px;
    font-family: "Oswald", sans-serif;
    float: left;
    color: #ff8c1a;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.logo-text span {
    color: black;
    letter-spacing: 0;
}

/* HEADER - NAVIGATION */



.menu a {
    clear: right;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: 0 30px;
    line-height: 90px;
    font-size: 1rem;
    font-weight: 600;
}

label {
    margin: 0 30px 0 0;
    font-size: 26px;
    line-height: 90px;
    display: none;
    width: 2.6rem;
    float: right;
}

#toggle {
    display: none;
}

/* EXHIBITIONS SECTION */

.exhibitions-section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.exhibitions-container1 {
    width: 100%;
    min-height: 60vh;
    background-image: url(/images/pexels-thisisengineering-3913025-sideways.jpg);
    background-size: cover;
    background-position: center right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.exhibitions-intro {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exhibitions-intro h2 {
    font-size: 5.5rem;
    text-transform: uppercase;
    color: whitesmoke;
}

.exhibitions-textbox {
    margin-right: 30px;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
}

.exhibitions-textbox h2 {
    text-align: center;
    line-height: 50px;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #d75758;
}
.exhibitions-textbox h1 {
    margin: 0 20px;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 600;
}

.exhibitions-container2 {
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.exhibitions-nav {
    width: 20%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.exhibitions-nav img {
    border-radius: 50%;
    background-size: cover;
    width: 180px;
    height: 170px;
}

.exhibitions-nav a {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.exhibitions-nav a:hover {
    color: #1058df;
}

/* COSMOLOGY SECTION */

.cosmology-section {
    min-height: 100vh;
    background-image: linear-gradient(to right, #01CCDA, #016d7e);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cosmology-banner {
    width: 100%;
    min-height: 30vh;
    background-image: url(/images/richard-gatley-oxgK2f_rxDc-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cosmology-banner h3 {
    margin: 70px 0;
    color: whitesmoke;
    font-size: 5rem;
    text-transform: uppercase;
}

.cosmology-container1,
.cosmology-container2 {
    margin-top: 15px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cosmology-container1 img,
.cosmology-container2 img {
    height: 320px;
    width: 360px;
    border-radius: 50%;
    background-size: cover;
}

.cosmology-textbox1,
.cosmology-textbox2 {
    width: 560px;
    height: 320px;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.cosmology-textbox1 h3,
.cosmology-textbox2 h3 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #d75758;
}

.cosmology-textbox1 p,
.cosmology-textbox2 p {
    margin: 0px 50px;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 600;
}






/* MEDIA QUERIES */

@media only screen and (max-width: 930px) {
    /* HEADER / NAV BAR RESPONSIVE MODE */

    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
    }

    .menu a:hover {
        background-color: #f3bf8b;
    }

    #toggle:checked + .menu {
        display: block;
    }