* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 62.5%;
}

body {
    font-family: "Open-sans", sans-serif;
    margin: 0;
    background: #016c80;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

/* GLOBAL CLASSES */

.bold-text {
    font-weight: 700;
}

.capital-text {
    text-transform: capitalize;
}

.italic-text {
    font-style: italic;
}

.blue-text {
    color: #016c80;
}

.site-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: white;
    background: #0192a5;
    border: 3px solid #0192a5;
    cursor: pointer;
}

.site-btn:hover {
    background: whitesmoke;
    color: #0192a5;
}

/* HEADER */

.nav {
    background: whitesmoke;
    text-align: right;
    min-height: 10vh;
}

.logo {
    height: 70px;
    width: 70px;
    float: left;
}

.logo-text {
    margin-top: 25px;
    font-family: "Oswald", sans-serif;
    float: left;
    color: #ff8c1a;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.logo-text span {
    color: black;
    letter-spacing: 0;
}

/* HEADER - NAVIGATION */

.menu a {
    clear: right;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: 0 30px;
    line-height: 70px;
    font-size: 1rem;
    font-weight: 600;
}

label {
    margin: 0 30px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 2.6rem;
    float: right;
}

#toggle {
    display: none;
}

/* EXPLORE/NEWS SECTION */

.explore-section. .news-section {
    min-height: 200vh;
}

.explore-banner,
.news-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.explore-banner {
    background-image: url(/images/michal-parzuchowski-BNvk1zqEAjc-unsplash-min-min.jpg);
}

.news-banner {
    background-image: url(/images/arseny-togulev-Ch2kxtjeEEc-unsplash-min-min-min.jpg);
}

.explore-banner h2,
.news-banner h2 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 2px 2px black;
    color: whitesmoke;
    letter-spacing: 5px;
}

/* EXPLORE/NEWS SECTION --> CONTAINER 1  */

.container1 {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading hr {
    height: 2px;
    width: 30%;
    color: black;
    background: black;
    border: none;
    border-radius: 5px;
}

.heading h3 {
    font-size: 4rem;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
}

.intro-text {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 87.5%;*/
    width: 1300px;
    background: #0c929e;
    border-radius: 15px;
    text-align: left;
}

.intro-text h2,
.intro-text h1 {
    margin: 0 90px;
    font-size: 2rem;
    line-height: 80px;
    color: whitesmoke;
}

/* EXPLORE/NEWS SECTION --> CONTAINER 2  */

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: auto;
}

.info-box {
    display: flex;
    width: 25%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container {
    width: 360px;
    min-height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box {
    width: 360px;
    background: #0c929e;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img-box img {
    width: 320px;
    height: 320px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.text-box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.explore-text {
    height: 800px;
}

.news-text {
    height: 600px;
}

.text-box h2,
.text-box h3,
.text-box p,
.text-box button {
    margin: 28px;
    text-align: left;
    line-height: 30px;
}

.text-box h3 {
    font-size: 1.5rem;
}

.text-box p {
    font-size: 1.2rem;
}

.heading-box {
    width: 100%;
    height: 10vh;
    background: #2c363f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-box h2 {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: center;
}

/* FOOTER */

.footer-section {
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-container1,
.footer-container2,
.footer-container3 {
    width: 33.33%;
}

.footer-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #01ccda, #00b5c6);
}

.footer-links {
    margin-left: 5%;
    width: 50%;
}

.footer-links a {
    text-transform: uppercase;
    line-height: 30px;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}

.footer_links-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_links-mobile a {
    text-align: center;
    margin-right: 35px;
    text-transform: uppercase;
    line-height: 30px;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}

.footer-links a:hover,
.footer_links-mobile a:hover {
    color: white;
}

.footer-links span:hover,
.footer_links-mobile span:hover {
    color: #13da13;
}

.footer-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #00b5c6, #008b9e);
}

.footer-logobox,
.footer_logobox-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    height: 120px;
    width: 120px;
    display: flex;
}

.footer-logotext {
    font-family: "oswald", sans-serif;
    color: whitesmoke;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logotext span {
    margin-left: 10px;
    color: black;
    letter-spacing: 0;
    display: block;
}

.footer-container3 {
    background-image: linear-gradient(to right, #008b9e, #016c80);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media-box {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_media-box h4 {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: black;
}

.fab {
    font-size: 3rem;
    margin: 20px;
    cursor: pointer;
    color: whitesmoke;
}

.fab:hover {
    color: #04dbf9;
}

.footer_links-mobile,
.footer_logobox-mobile {
    display: none;
}

.copyright,
.copyright-mobile {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.8rem;
}

.copyright-mobile {
    display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1460px) {
    /* EXPLORE SECTION RESPONSIVE MODE */

    .site-btn {
        padding: 5px;
        width: 150px;
        height: 40px;
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
    }

    .heading h3 {
        font-size: 2.3rem;
    }

    .intro-text {
        width: 360px;
        height: 230px;
        margin: 20px 0;
    }

    .intro-text h2,
    .intro-text h1 {
        margin: 0 25px;
        font-size: 1.5rem;
        line-height: 40px;
    }

    .container2 {
        flex-direction: column;
        align-items: center;
    }

    .explore-text,
    .news-text {
        height: auto;
    }
}

@media only screen and (max-width: 930px) {
    /* HEADER / NAV BAR RESPONSIVE MODE */

    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
    }

    .menu a:hover {
        background-color: #f3bf8b;
    }

    #toggle:checked + .menu {
        display: block;
    }

    /* FOOTER RESPONSIVE MODE */

    .footer-section {
        flex-direction: column;
    }

    .footer-container1,
    .footer-container2,
    .footer-container3 {
        width: 100%;
        background-image: linear-gradient(to right, #0192a5, #0192a5);
    }

    .footer-container2 {
        height: 425px;
        justify-content: center;
    }

    .footer-links,
    .footer-logobox {
        display: none;
    }

    .footer_links-mobile,
    .footer_logobox-mobile {
        display: flex;
    }

    .social_media-box {
        justify-content: space-between;
    }

    .copyright-mobile {
        display: block;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
    }

    .copyright {
        display: none;
    }
}
