/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 62.5%;
}

body {
    font-family: "Open-sans", sans-serif;
    margin: 0;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

/* GLOBAL CLASSES */

.capital-text {
    text-transform: capitalize;
}

.italic-text {
    font-style: italic;
}

.green-text {
    color: #13da13;
}

.site-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: whitesmoke;
    background: #d75758;
    border: 3px solid #d75758;
    cursor: pointer;
}

.site-btn:hover {
    background: white;
    color: #d75758;
}

/* HEADER */

.nav {
    margin-top: 0;
    text-align: right;
    min-height: 10vh;
}

.logo {
    margin-top: 10px;
    height: 70px;
    width: 70px;
    float: left;
}

.logo-text {
    margin-top: 30px;
    font-family: "Oswald", sans-serif;
    float: left;
    color: #ff8c1a;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.logo-text span {
    color: black;
    letter-spacing: 0;
}

/* HEADER - NAVIGATION */

.menu a {
    clear: right;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: 0 30px;
    line-height: 90px;
    font-size: 1rem;
    font-weight: 600;
}

label {
    margin: 0 30px 0 0;
    font-size: 26px;
    line-height: 90px;
    display: none;
    width: 2.6rem;
    float: right;
}

#toggle {
    display: none;
}

/* MAIN PAGE SECTION */

.home-section {
    min-height: 90vh;
    background-image: url(/images/michael-van-kerckhove-iN3xWBNHmnw-unsplash-min-min.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.home-container1 {
    width: 100%;
    height: 100%;
}

.home-container2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.home-textbox1,
.home-textbox2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    width: 500px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    text-align: center;
}

.home-textbox1 {
    height: 230px;
}

.home-textbox1 p {
    margin-top: 50px;
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

.home-textbox1 h2 {
    color: #d75758;
    font-size: 5rem;
    text-transform: capitalize;
}

.home-textbox2 {
    height: 300px;
}

.home-textbox2 h2 {
    color: #d75758;
    text-transform: uppercase;
    font-size: 3rem;
}

.home-textbox2 h1 {
    margin: 0 20px;
    color: whitesmoke;
    letter-spacing: 2px;
    text-align: left;
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: 600;
}

/* HOME-TEXTBOX2 CONTENT / Styling of text. */

/* DISCOVER SECTION */

.discover-section {
    min-height: 100vh;
    background-image: url(/images/background-2462432_1920-min.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover-container1,
.discover-container2 {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.discover-textbox1,
.discover-textbox2 {
    width: 600px;
    height: 320px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.discover-textbox1 h2,
.discover-textbox2 h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #d75758;
}

.discover-textbox1 p,
.discover-textbox2 p {
    margin: 30px 60px;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 600;
}

.discover-container1 img,
.discover-container2 img {
    height: 410px;
    width: 450px;
    border-radius: 50%;
}

.discover_mobile-img {
    display: none;
}

/* LIVE EXHIBITS SECTION */

.live_exhibits-section {
    min-height: 95vh;
    /*background-color: #f2f2f2;*/
    background-image: url(/images/background-2462432_1920-min.jpg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.live_exhibits-container1,
.live_exhibits-container2 {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.live_exhibits-container1 img,
.live_exhibits-container2 img {
    height: 410px;
    width: 450px;
    border-radius: 50%;
}

.live_exhibits-textbox1,
.live_exhibits-textbox2 {
    width: 600px;
    height: 320px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.live_exhibits-textbox1 h2,
.live_exhibits-textbox2 h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #d75758;
}

.live_exhibits-textbox1 p,
.live_exhibits-textbox2 p {
    margin: 30px 60px;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 600;
}

.live_exhibits_mobile-img {
    display: none;
}

/* FOOTER */

.footer-section {
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-container1,
.footer-container2,
.footer-container3 {
    width: 33.33%;
}

.footer-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #04dbf9, #da7b7d);
}

.footer-links {
    margin-left: 5%;
    width: 50%;
}

.footer-links a {
    text-transform: uppercase;
    line-height: 30px;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}

.footer_links-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_links-mobile a {
    text-align: center;
    margin-right: 35px;
    text-transform: uppercase;
    line-height: 30px;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}

.footer-links a:hover,
.footer_links-mobile a:hover {
    color: white;
}

.footer-links span:hover,
.footer_links-mobile span:hover {
    color: #13da13;
}

.footer-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #da7b7d, #cf454d);
}

.footer-logobox,
.footer_logobox-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    height: 120px;
    width: 120px;
    display: flex;
}

.footer-logotext {
    font-family: oswald, sans-serif;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logotext span {
    margin-left: 10px;
    color: black;
    letter-spacing: 0;
    display: block;
}

.footer-container3 {
    background-image: linear-gradient(to right, #cf454d, #3c022e);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_media-box h4 {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: black;
}

.fab {
    font-size: 3rem;
    margin: 20px;
    cursor: pointer;
    color: #04dbf9;
}

.fab:hover {
    color: white;
}

.footer_links-mobile,
.footer_logobox-mobile {
    display: none;
}

.copyright,
.copyright-mobile {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0px;
}

.copyright-mobile {
    display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 930px) {
    /* HEADER / NAV BAR RESPONSIVE MODE */

    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
    }

    .menu a:hover {
        background-color: #f3bf8b;
    }

    #toggle:checked + .menu {
        display: block;
    }

    /* HOME-PAGE RESPONSIVE MODE */

    .home-container1,
    .home-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-container2 {
        justify-content: space-around;
    }

    .home-textbox1,
    .home-textbox2 {
        width: 340px;
    }

    .home-textbox1 {
        height: 100%;
    }
    .home-textbox2 {
        height: 300px;
    }

    .home-textbox1 p {
        font-size: 1.2rem;
    }
    .home-textbox1 h2 {
        font-size: 3.5rem;
    }

    .home-textbox2 h2 {
        font-size: 2rem;
    }
    .home-textbox2 h1 {
        font-size: 1.2rem;
        line-height: 25px;
    }
}

@media only screen and (max-width: 1200px) {
    /* DISCOVER SECTION / LIVE EXHIBITS SECTION RESPONSIVE MODE */

    .discover-textbox1,
    .discover-textbox2,
    .live_exhibits-textbox1,
    .live_exhibits-textbox2 {
        width: 390px;
        height: 320px;
    }

    .discover-container1 img,
    .discover-container2 img,
    .live_exhibits-container1 img,
    .live_exhibits-container2 img {
        height: 320px;
        width: 360px;
    }

    .discover-textbox1 h2,
    .discover-textbox2 h2,
    .live_exhibits-textbox1 h3,
    .live_exhibits-textbox2 h3 {
        font-size: 2rem;
    }

    .discover-textbox1 p,
    .discover-textbox2 p,
    .live_exhibits-textbox1 p,
    .live_exhibits-textbox2 p {
        margin: 25px 40px;
        font-size: 1.2rem;
        line-height: 25px;
    }
}

@media only screen and (max-width: 930px) {
    /* DISCOVER / LIVE EXHIBITS SECTION  -  RESPONSIVE MODE */

    .site-btn {
        padding: 5px;
        width: 150px;
        height: 40px;
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
    }

    .discover-section {
        justify-content: space-evenly;
    }

    .discover-container1,
    .discover-container2,
    .live_exhibits-container1,
    .live_exhibits-container2 {
        margin: 10% 0;
        flex-direction: column;
        width: 100%;
        height: 700px;
    }

    .discover-textbox1,
    .discover-textbox2,
    .live_exhibits-textbox1,
    .live_exhibits-textbox2 {
        width: 340px;
        height: 320px;
        margin-bottom: 5%;
    }

    .discover_mobile-img,
    .live_exhibits_mobile-img {
        display: block;
    }

    .discover-img,
    .live_exhibits-img {
        display: none;
    }

    .discover-textbox1 p,
    .discover-textbox2 p,
    .live_exhibits-textbox1 p,
    .live_exhibits-textbox2 p {
        margin: 15px 15px;
        font-size: 1.2rem;
        line-height: 30px;
    }

    /* FOOTER RESPONSIVE MODE */

    .footer-section {
        flex-direction: column;
    }

    .footer-container1,
    .footer-container2,
    .footer-container3 {
        width: 100%;
        background-image: linear-gradient(to right, #d08587, #d54f55);
    }

    .footer-container2 {
        height: 400px;
        justify-content: center;
    }

    .footer-links,
    .footer-logobox {
        display: none;
    }

    .footer_links-mobile,
    .footer_logobox-mobile {
        display: flex;
    }

    .social_media-box {
        justify-content: space-evenly;
    }

    .copyright-mobile {
        display: block;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
    }

    .copyright {
        display: none;
    }
}
